<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="frontend\css\style.css">
        <title>Dados Trucados</title>
    </head>
    <body>
        <h1>Escoge tus dados</h1>
        <div id="dados">
            <ol>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D4.png') }}">
                    D4</li>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D6.png') }}">
                    D6</li>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D8.png') }}">
                    D8</li>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D10.png') }}">
                    D10</li>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D10P.png') }}">
                    D10%</li>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D12.png') }}">
                    D12</li>
                <li>
                    <img
                        src="{{ url_for('static', filename='images/D20.png') }}">
                    D20</li>
            </ol>
        </div>

    </body>
</html>